
*{
    box-sizing:border-box;
}
body{
    font-family:sans-serif;
}
header{
    
    text-align:center;
    padding:2em 1em;
}
.Logo{
    height: 100%;
    width: 60%;
}
.thanh{
    display:flex;
    background-color:whitesmoke;
}
.menu{
    flex:70%;
    padding:0.6em;
}
.header1{
flex: 50%;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(15,23,179,1) 100%);
color: whitesmoke;
text-align: center;
}
.thanh a{
    text-decoration:none;
    color:black;
    margin:1em;
}
.thanh a:hover:not(.active){
    font-weight:bold;
    color:#ffa366;
}
.search-zone{
    flex:30%;
    margin:0.5em;
}
.search-zone input[type="text"]{
    width:100%;
    padding:0.3em;
    border-radius:1em;
    border:1px solid gray;
    outline:none;
}
.search-zone input[type="text"]:focus{
    background-color:lightgray;
}
.chan{
    background-color: blue;
}